Implement Naive Bayes algorithm for sample data

Displaying general information

In [21]:
import pandas as pd
import numpy as np

telset = pd.read_csv('Dataset\Iris.csv')
telset

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [22]:
print("Shape of dataset\n",telset.shape)

print("\n\nDataType info\n")
print(telset.info())

Shape of dataset
 (150, 6)


DataType info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB
None

Displaying summary statistics for each attribute

In [23]:
print("The statistical info of each attribute\n")
datasummary = telset.describe()
datasummary

The statistical info of each attribute

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [24]:
print("\nMean\n")
meanInfo = telset.mean()
meanInfo

Mean

Id               75.500000
SepalLengthCm     5.843333
SepalWidthCm      3.054000
PetalLengthCm     3.758667
PetalWidthCm      1.198667
dtype: float64

In [25]:
print("\nMedian\n")
medianInfo = telset.median()
medianInfo

Median

Id               75.50
SepalLengthCm     5.80
SepalWidthCm      3.00
PetalLengthCm     4.35
PetalWidthCm      1.30
dtype: float64

In [26]:
print("\nMode\n")
modeInfo = telset.mode()
modeInfo

Mode

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.0,3.0,1.5,0.2,Iris-setosa
1,2,NaN,NaN,NaN,NaN,Iris-versicolor
2,3,NaN,NaN,NaN,NaN,Iris-virginica
3,4,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
145,146,NaN,NaN,NaN,NaN,NaN
146,147,NaN,NaN,NaN,NaN,NaN
147,148,NaN,NaN,NaN,NaN,NaN
148,149,NaN,NaN,NaN,NaN,NaN
149,150,NaN,NaN,NaN,NaN,NaN

In [27]:
print("\nStd Dev\n")
stddevInfo = telset.std()
stddevInfo

Std Dev

Id               43.445368
SepalLengthCm     0.828066
SepalWidthCm      0.433594
PetalLengthCm     1.764420
PetalWidthCm      0.763161
dtype: float64

In [28]:
print("\nSkewness\n")
skewnessInfo = telset.skew()
skewnessInfo

Skewness

Id               0.000000
SepalLengthCm    0.314911
SepalWidthCm     0.334053
PetalLengthCm   -0.274464
PetalWidthCm    -0.104997
dtype: float64

Data Transformation

In [29]:
from pandas import get_dummies

telset['Species'].replace(to_replace = ['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], value =[1, 2, 3], inplace=True)

print("Performing label encoding (since the columns are to be made nominal)\n")
#Creating matrix X and y
X = telset.drop(columns=['Species'])
array = telset.values
Y = array[:,5]

#Encode type object to numerical
X = pd.get_dummies(X)

print(X)

Performing label encoding (since the columns are to be made nominal)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

[150 rows x 5 columns]

Feature matrix creation and min-max feature scaling (normalization)

In [30]:
print("Feature Matrix\n")
print(X)

from sklearn import preprocessing 
print("\n\nNormalised Feature Matrix\n")
scaler = preprocessing.MinMaxScaler() 
X_scaled = scaler.fit_transform(X)
print(X_scaled)

print("\n\nExpected Output Y")
y = Y
y = y.reshape(len(y),)
print(y)

Feature Matrix

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

[150 rows x 5 columns]


Normalised Feature Matrix

[[0.         0.22222222 0.625      0.06779661 0.04166667]
 [0.00671141 0.16666667 0.41666667 0.06779661 0.04166667]
 [0.01342282 0.11111111 0.5        0.05084746 0.04166667]
 [0.02013423 0.08333333 0.45833333 0.08474576 0.04166667]
 [0.02684564 0.19444444 0.66666667 0.06779661 0.04166667]
 [0.03355705 0.30555556 0.79166667 0.11864407 0.125     ]
 [0.04026846 0.08333333 0.58333333 0.06779661 0.08333333]
 [0.04697987 0.19444444 0.58333333 0.08474576 0.04166667]
 [0.05369128 0.02777778 0.375      0.06779661 0.04166667]
 [0.06040268 0.16666667 0.45833333 0.08474576 0.        ]
 [0.06711409 0.30555556 0.70833333 0.08474576 0.04166667]
 [0.0738255  0.13888889 0.58333333 0.10169492 0.04166667]
 [0.08053691 0.13888889 0.41666667 0.06779661 0.        ]
 [0.08724832 0.         0.41666667 0.01694915 0.        ]
 [0.09395973 0.41666667 0.83333333 0.03389831 0.04166667]
 [0.10067114 0.38888889 1.         0.08474576 0.125     ]
 [0.10738255 0.30555556 0.79166667 0.05084746 0.125     ]
 [0.11409396 0.22222222 0.625      0.06779661 0.08333333]
 [0.12080537 0.38888889 0.75       0.11864407 0.08333333]
 [0.12751678 0.22222222 0.75       0.08474576 0.08333333]
 [0.13422819 0.30555556 0.58333333 0.11864407 0.04166667]
 [0.1409396  0.22222222 0.70833333 0.08474576 0.125     ]
 [0.14765101 0.08333333 0.66666667 0.         0.04166667]
 [0.15436242 0.22222222 0.54166667 0.11864407 0.16666667]
 [0.16107383 0.13888889 0.58333333 0.15254237 0.04166667]
 [0.16778523 0.19444444 0.41666667 0.10169492 0.04166667]
 [0.17449664 0.19444444 0.58333333 0.10169492 0.125     ]
 [0.18120805 0.25       0.625      0.08474576 0.04166667]
 [0.18791946 0.25       0.58333333 0.06779661 0.04166667]
 [0.19463087 0.11111111 0.5        0.10169492 0.04166667]
 [0.20134228 0.13888889 0.45833333 0.10169492 0.04166667]
 [0.20805369 0.30555556 0.58333333 0.08474576 0.125     ]
 [0.2147651  0.25       0.875      0.08474576 0.        ]
 [0.22147651 0.33333333 0.91666667 0.06779661 0.04166667]
 [0.22818792 0.16666667 0.45833333 0.08474576 0.        ]
 [0.23489933 0.19444444 0.5        0.03389831 0.04166667]
 [0.24161074 0.33333333 0.625      0.05084746 0.04166667]
 [0.24832215 0.16666667 0.45833333 0.08474576 0.        ]
 [0.25503356 0.02777778 0.41666667 0.05084746 0.04166667]
 [0.26174497 0.22222222 0.58333333 0.08474576 0.04166667]
 [0.26845638 0.19444444 0.625      0.05084746 0.08333333]
 [0.27516779 0.05555556 0.125      0.05084746 0.08333333]
 [0.28187919 0.02777778 0.5        0.05084746 0.04166667]
 [0.2885906  0.19444444 0.625      0.10169492 0.20833333]
 [0.29530201 0.22222222 0.75       0.15254237 0.125     ]
 [0.30201342 0.13888889 0.41666667 0.06779661 0.08333333]
 [0.30872483 0.22222222 0.75       0.10169492 0.04166667]
 [0.31543624 0.08333333 0.5        0.06779661 0.04166667]
 [0.32214765 0.27777778 0.70833333 0.08474576 0.04166667]
 [0.32885906 0.19444444 0.54166667 0.06779661 0.04166667]
 [0.33557047 0.75       0.5        0.62711864 0.54166667]
 [0.34228188 0.58333333 0.5        0.59322034 0.58333333]
 [0.34899329 0.72222222 0.45833333 0.66101695 0.58333333]
 [0.3557047  0.33333333 0.125      0.50847458 0.5       ]
 [0.36241611 0.61111111 0.33333333 0.61016949 0.58333333]
 [0.36912752 0.38888889 0.33333333 0.59322034 0.5       ]
 [0.37583893 0.55555556 0.54166667 0.62711864 0.625     ]
 [0.38255034 0.16666667 0.16666667 0.38983051 0.375     ]
 [0.38926174 0.63888889 0.375      0.61016949 0.5       ]
 [0.39597315 0.25       0.29166667 0.49152542 0.54166667]
 [0.40268456 0.19444444 0.         0.42372881 0.375     ]
 [0.40939597 0.44444444 0.41666667 0.54237288 0.58333333]
 [0.41610738 0.47222222 0.08333333 0.50847458 0.375     ]
 [0.42281879 0.5        0.375      0.62711864 0.54166667]
 [0.4295302  0.36111111 0.375      0.44067797 0.5       ]
 [0.43624161 0.66666667 0.45833333 0.57627119 0.54166667]
 [0.44295302 0.36111111 0.41666667 0.59322034 0.58333333]
 [0.44966443 0.41666667 0.29166667 0.52542373 0.375     ]
 [0.45637584 0.52777778 0.08333333 0.59322034 0.58333333]
 [0.46308725 0.36111111 0.20833333 0.49152542 0.41666667]
 [0.46979866 0.44444444 0.5        0.6440678  0.70833333]
 [0.47651007 0.5        0.33333333 0.50847458 0.5       ]
 [0.48322148 0.55555556 0.20833333 0.66101695 0.58333333]
 [0.48993289 0.5        0.33333333 0.62711864 0.45833333]
 [0.4966443  0.58333333 0.375      0.55932203 0.5       ]
 [0.5033557  0.63888889 0.41666667 0.57627119 0.54166667]
 [0.51006711 0.69444444 0.33333333 0.6440678  0.54166667]
 [0.51677852 0.66666667 0.41666667 0.6779661  0.66666667]
 [0.52348993 0.47222222 0.375      0.59322034 0.58333333]
 [0.53020134 0.38888889 0.25       0.42372881 0.375     ]
 [0.53691275 0.33333333 0.16666667 0.47457627 0.41666667]
 [0.54362416 0.33333333 0.16666667 0.45762712 0.375     ]
 [0.55033557 0.41666667 0.29166667 0.49152542 0.45833333]
 [0.55704698 0.47222222 0.29166667 0.69491525 0.625     ]
 [0.56375839 0.30555556 0.41666667 0.59322034 0.58333333]
 [0.5704698  0.47222222 0.58333333 0.59322034 0.625     ]
 [0.57718121 0.66666667 0.45833333 0.62711864 0.58333333]
 [0.58389262 0.55555556 0.125      0.57627119 0.5       ]
 [0.59060403 0.36111111 0.41666667 0.52542373 0.5       ]
 [0.59731544 0.33333333 0.20833333 0.50847458 0.5       ]
 [0.60402685 0.33333333 0.25       0.57627119 0.45833333]
 [0.61073826 0.5        0.41666667 0.61016949 0.54166667]
 [0.61744966 0.41666667 0.25       0.50847458 0.45833333]
 [0.62416107 0.19444444 0.125      0.38983051 0.375     ]
 [0.63087248 0.36111111 0.29166667 0.54237288 0.5       ]
 [0.63758389 0.38888889 0.41666667 0.54237288 0.45833333]
 [0.6442953  0.38888889 0.375      0.54237288 0.5       ]
 [0.65100671 0.52777778 0.375      0.55932203 0.5       ]
 [0.65771812 0.22222222 0.20833333 0.33898305 0.41666667]
 [0.66442953 0.38888889 0.33333333 0.52542373 0.5       ]
 [0.67114094 0.55555556 0.54166667 0.84745763 1.        ]
 [0.67785235 0.41666667 0.29166667 0.69491525 0.75      ]
 [0.68456376 0.77777778 0.41666667 0.83050847 0.83333333]
 [0.69127517 0.55555556 0.375      0.77966102 0.70833333]
 [0.69798658 0.61111111 0.41666667 0.81355932 0.875     ]
 [0.70469799 0.91666667 0.41666667 0.94915254 0.83333333]
 [0.7114094  0.16666667 0.20833333 0.59322034 0.66666667]
 [0.71812081 0.83333333 0.375      0.89830508 0.70833333]
 [0.72483221 0.66666667 0.20833333 0.81355932 0.70833333]
 [0.73154362 0.80555556 0.66666667 0.86440678 1.        ]
 [0.73825503 0.61111111 0.5        0.69491525 0.79166667]
 [0.74496644 0.58333333 0.29166667 0.72881356 0.75      ]
 [0.75167785 0.69444444 0.41666667 0.76271186 0.83333333]
 [0.75838926 0.38888889 0.20833333 0.6779661  0.79166667]
 [0.76510067 0.41666667 0.33333333 0.69491525 0.95833333]
 [0.77181208 0.58333333 0.5        0.72881356 0.91666667]
 [0.77852349 0.61111111 0.41666667 0.76271186 0.70833333]
 [0.7852349  0.94444444 0.75       0.96610169 0.875     ]
 [0.79194631 0.94444444 0.25       1.         0.91666667]
 [0.79865772 0.47222222 0.08333333 0.6779661  0.58333333]
 [0.80536913 0.72222222 0.5        0.79661017 0.91666667]
 [0.81208054 0.36111111 0.33333333 0.66101695 0.79166667]
 [0.81879195 0.94444444 0.33333333 0.96610169 0.79166667]
 [0.82550336 0.55555556 0.29166667 0.66101695 0.70833333]
 [0.83221477 0.66666667 0.54166667 0.79661017 0.83333333]
 [0.83892617 0.80555556 0.5        0.84745763 0.70833333]
 [0.84563758 0.52777778 0.33333333 0.6440678  0.70833333]
 [0.85234899 0.5        0.41666667 0.66101695 0.70833333]
 [0.8590604  0.58333333 0.33333333 0.77966102 0.83333333]
 [0.86577181 0.80555556 0.41666667 0.81355932 0.625     ]
 [0.87248322 0.86111111 0.33333333 0.86440678 0.75      ]
 [0.87919463 1.         0.75       0.91525424 0.79166667]
 [0.88590604 0.58333333 0.33333333 0.77966102 0.875     ]
 [0.89261745 0.55555556 0.33333333 0.69491525 0.58333333]
 [0.89932886 0.5        0.25       0.77966102 0.54166667]
 [0.90604027 0.94444444 0.41666667 0.86440678 0.91666667]
 [0.91275168 0.55555556 0.58333333 0.77966102 0.95833333]
 [0.91946309 0.58333333 0.45833333 0.76271186 0.70833333]
 [0.9261745  0.47222222 0.41666667 0.6440678  0.70833333]
 [0.93288591 0.72222222 0.45833333 0.74576271 0.83333333]
 [0.93959732 0.66666667 0.45833333 0.77966102 0.95833333]
 [0.94630872 0.72222222 0.45833333 0.69491525 0.91666667]
 [0.95302013 0.41666667 0.29166667 0.69491525 0.75      ]
 [0.95973154 0.69444444 0.5        0.83050847 0.91666667]
 [0.96644295 0.66666667 0.54166667 0.79661017 1.        ]
 [0.97315436 0.66666667 0.41666667 0.71186441 0.91666667]
 [0.97986577 0.55555556 0.20833333 0.6779661  0.75      ]
 [0.98657718 0.61111111 0.41666667 0.71186441 0.79166667]
 [0.99328859 0.52777778 0.58333333 0.74576271 0.91666667]
 [1.         0.44444444 0.41666667 0.69491525 0.70833333]]


Expected Output Y

NameError: name 'y' is not defined

Splitting dataset and training model

In [124]:
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import GaussianNB
from sklearn import model_selection
from sklearn.model_selection import train_test_split

seed = 7
X_train, X_test, Y_train, Y_test = train_test_split(X_scaled, y, test_size=0.33, random_state=seed)

#Initialize Gaussian Naive Bayes
clf = GaussianNB()
#Fitting the training set
clf.fit(X_train, Y_train) 
#Predicting for the Test Set
Y_pred = clf.predict(X_test)

#Predicted Output
print('Predicted Output Y')
print(Y_pred)

#Printing accuracy data
kfold = model_selection.KFold(n_splits=10)

#calling the cross validation function
score = model_selection.cross_val_score(clf, X_test, Y_test, cv=kfold, scoring='accuracy')

#Accuracy Score
print('\nScore : %.3f' % (score.mean()))

Preicted Output Y
[3 2 1 2 2 1 2 2 1 2 2 2 1 3 1 2 3 3 1 1 2 3 2 3 3 3 2 2 3 3 3 2 1 3 2 1 1
 1 1 3 3 2 3 3 2 1 2 2 3 1]

Score : 0.980