Implement Decision Tree algorithm for sample data

Displaying general information

In [1]:
import pandas as pd
import numpy as np

telset = pd.read_csv('Dataset\PersonHWI.csv')
telset

     Gender  Height  Weight  Index
0      Male     174      96      4
1      Male     189      87      2
2    Female     185     110      4
3    Female     195     104      3
4      Male     149      61      3
..      ...     ...     ...    ...
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

[500 rows x 4 columns]

In [2]:
print("Shape of dataset\n",telset.shape)

print("\n\nDataType info\n")
print(telset.info())

Shape of dataset
 (500, 4)


DataType info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  500 non-null    object
 1   Height  500 non-null    int64
 2   Weight  500 non-null    int64
 3   Index   500 non-null    int64
dtypes: int64(3), object(1)
memory usage: 15.8+ KB
None

Displaying summary statistics for each attribute

In [3]:
print("The statistical info of each attribute\n")
datasummary = telset.describe()
datasummary

The statistical info of each attribute

           Height      Weight       Index
count  500.000000  500.000000  500.000000
mean   169.944000  106.000000    3.748000
std     16.375261   32.382607    1.355053
min    140.000000   50.000000    0.000000
25%    156.000000   80.000000    3.000000
50%    170.500000  106.000000    4.000000
75%    184.000000  136.000000    5.000000
max    199.000000  160.000000    5.000000

In [4]:
print("\nMean\n")
meanInfo = telset.mean()
meanInfo

Mean

Height    169.944
Weight    106.000
Index       3.748
dtype: float64

In [5]:
print("\nMedian\n")
medianInfo = telset.median()
medianInfo

Median

Height    170.5
Weight    106.0
Index       4.0
dtype: float64

In [6]:
print("\nMode\n")
modeInfo = telset.mode()
modeInfo

Mode

   Gender  Height  Weight  Index
0  Female   188.0      50    5.0
1     NaN     NaN      80    NaN
2     NaN     NaN     104    NaN

In [7]:
print("\nStd Dev\n")
stddevInfo = telset.std()
stddevInfo

Std Dev

Height    16.375261
Weight    32.382607
Index      1.355053
dtype: float64

In [8]:
print("\nSkewness\n")
skewnessInfo = telset.skew()
skewnessInfo

Skewness

Height   -0.121914
Weight   -0.037692
Index    -0.927799
dtype: float64

Data Transformation

In [9]:
from pandas import get_dummies

print("Performing label encoding (since the columns are to be made nominal)\n")
#Creating matrix X and y
X = telset.drop(columns=['Index'])
array = telset.values
y = array[:,3]

#Encode type object to numerical
X = pd.get_dummies(X)

print(X)

Performing label encoding (since the columns are to be made nominal)

     Height  Weight  Gender_Female  Gender_Male
0       174      96              0            1
1       189      87              0            1
2       185     110              1            0
3       195     104              1            0
4       149      61              0            1
..      ...     ...            ...          ...
495     150     153              1            0
496     184     121              1            0
497     141     136              1            0
498     150      95              0            1
499     173     131              0            1

[500 rows x 4 columns]

Feature matrix creation and min-max feature scaling (normalization)

In [10]:
print("Feature Matrix\n")
print(X)

from sklearn import preprocessing 
print("\n\nNormalised Feature Matrix\n")
scaler = preprocessing.MinMaxScaler() 
X_scaled = scaler.fit_transform(X)
print(X_scaled)

print("\n\nExpected Output Y")
y = y.reshape(len(y),)
y = y.astype('int')
print(y)

Feature Matrix

     Height  Weight  Gender_Female  Gender_Male
0       174      96              0            1
1       189      87              0            1
2       185     110              1            0
3       195     104              1            0
4       149      61              0            1
..      ...     ...            ...          ...
495     150     153              1            0
496     184     121              1            0
497     141     136              1            0
498     150      95              0            1
499     173     131              0            1

[500 rows x 4 columns]


Normalised Feature Matrix

[[0.57627119 0.41818182 0.         1.        ]
 [0.83050847 0.33636364 0.         1.        ]
 [0.76271186 0.54545455 1.         0.        ]
 ...
 [0.01694915 0.78181818 1.         0.        ]
 [0.16949153 0.40909091 0.         1.        ]
 [0.55932203 0.73636364 0.         1.        ]]


Expected Output Y
[4 2 4 3 3 3 5 5 3 4 2 4 3 2 2 5 5 5 5 5 5 5 4 5 2 3 3 1 5 5 5 1 1 5 5 4 3
 4 5 2 4 5 2 5 4 2 4 4 3 5 5 1 5 4 4 3 4 5 3 5 0 5 0 2 5 5 4 2 4 4 2 4 5 2
 3 4 4 4 4 0 3 5 3 4 5 0 5 5 5 5 5 3 3 2 4 5 4 5 1 0 4 5 5 4 4 4 5 5 4 3 4
 5 4 2 4 3 2 5 5 5 4 4 4 5 5 4 4 4 5 2 5 2 5 4 5 5 5 3 5 5 2 4 5 5 5 4 3 5
 3 3 0 3 3 5 5 4 3 5 3 4 2 2 3 5 4 2 4 5 3 2 4 5 5 4 4 4 4 3 5 3 3 4 4 2 3
 3 5 3 5 4 5 5 4 5 5 5 4 4 5 5 1 3 4 4 5 4 5 4 3 4 4 5 5 5 0 5 5 5 5 5 2 5
 4 5 0 5 3 4 5 5 4 2 3 3 4 3 5 5 2 5 3 2 1 5 0 5 3 5 3 4 3 5 5 5 5 2 4 5 5
 4 5 5 5 2 4 5 5 5 5 1 5 5 4 0 3 3 4 2 3 1 1 5 5 4 4 4 4 5 2 5 4 3 3 4 5 5
 2 4 3 4 5 4 2 4 5 4 5 5 1 5 5 5 5 2 2 5 3 5 4 5 4 4 5 5 4 2 2 4 3 3 5 4 2
 2 2 2 5 5 4 5 3 4 4 3 4 4 2 2 5 2 2 2 2 5 0 3 4 5 1 4 1 4 5 4 5 5 3 4 5 4
 3 5 1 2 4 5 5 5 5 3 5 1 4 5 5 2 5 4 3 2 2 2 2 3 5 3 3 5 3 5 3 4 2 4 4 5 2
 5 5 5 1 4 5 5 5 4 5 2 5 2 1 5 5 4 1 1 4 4 4 4 2 5 5 4 2 5 5 5 1 5 4 2 5 5
 4 5 4 4 5 5 5 4 5 0 2 2 4 2 4 5 4 5 1 5 2 5 3 5 5 3 5 5 2 5 3 4 5 2 2 5 5
 4 5 4 4 4 5 2 4 5 2 5 0 1 5 5 4 5 5 5]

Splitting dataset and training model

In [11]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import model_selection
from sklearn.model_selection import train_test_split

seed = 7
X_train, X_test, Y_train, Y_test = train_test_split(X_scaled, y, test_size=0.33, random_state=seed)

#Initialize Gaussian Naive Bayes
clf = DecisionTreeClassifier(criterion='gini', max_depth=3, random_state=0)
#Fitting the training set
clf.fit(X_train, Y_train) 
#Predicting for the Test Set
Y_pred = clf.predict(X_test)

#Predicted Output
print('Predicted Output Y')
print(Y_pred)

#Printing accuracy data
kfold = model_selection.KFold(n_splits=10)
#calling the cross validation function
score = model_selection.cross_val_score(clf, X_test, Y_test, cv=kfold, scoring='accuracy')
#Accuracy Score
print('\nScore : %.3f' % (score.mean()))

Predicted Output Y
[2 2 5 2 4 4 2 4 5 2 5 5 2 4 5 2 4 2 5 2 5 4 4 5 4 5 5 2 5 5 5 2 2 5 5 5 4
 5 4 5 5 2 4 5 5 3 5 2 4 5 2 5 4 5 4 2 2 5 5 4 5 2 4 4 5 4 5 2 2 5 5 5 4 4
 2 5 5 5 2 4 5 4 2 4 2 5 4 4 2 4 5 2 5 2 2 2 4 4 2 2 5 5 4 5 4 5 2 5 4 5 4
 5 4 5 4 2 2 4 4 2 5 2 2 4 2 4 2 4 5 4 5 5 2 4 2 2 5 5 4 2 5 4 3 5 4 5 5 2
 5 4 5 2 5 2 2 4 5 2 5 2 5 5 4 4 4]

Score : 0.601